NODE_ENV=development
PORT=3000

SUPABASE_URL=https://mgepqbusmvqoznfgxlpt.supabase.co
SUPABASE_ANON_KEY=sb_publishable_T38vxUdJsQuq2blCsbdUgw_V9n4LtJh
SUPABASE_SERVICE_KEY=sb_secret_e2bZuo-_U6e3WJanCsoAxg_30vlf-7n

JWT_SECRET=abcdefghijklmnopqrstuvwxyzabcdefg
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173
RAZORPAY_KEY_ID=your_test_key
RAZORPAY_KEY_SECRET=your_test_secret
UPI_ID=merchant@upi
MERCHANT_NAME=Cafe Name
